
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Noto Serif NP Hmong', serif;
    background-color: #cdd9e1;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}
/* Nav*/

.navegador {
    background-color: #7B89A6;
    height: 70px;
    width: auto;
    justify-content: end;
}
.navegador > .fa-bars{
    display: none;
}

.navegador ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    
}

.navegador ul li{
    display: inline-block;
}

.navegador ul li a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px; 
    font-size: 20px;
} 

@media (max-width:576px){
    .navegador{
    justify-content: end;
    }

    .navegador > .fa-bars{
        display: block;
        color: white;
        font-size: 24px;
        padding: 20px;
    }

    .navegador > .fa-bars:hover + ul {
        left: 0;
    }
    .navegador ul:hover{
        left: 0;
    }

    .navegador ul{
         position: fixed;
         flex-direction: column;
         background-color: #7B89A6;
         width: 150px;
         height: 280px;
         left: -300px;
         transition: 0.2s;
         justify-content: center;
         align-items:initial;

    }

}


/* home*/

p {
    font-size: 20px;
    line-height: 30px;
}

h2 {
    color: black;
    font-size: 25px;
}

 .boxindex{
    display: grid;
    height: 500px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 300px 500px;
    grid-template-rows: 50px 200px 50px;
    gap: 10px;
    grid-template-areas: 
        "boxindex01 boxindex02"
        "boxindex01 boxindex03"
        "boxindex01 boxindex04";
 }

 .boxindex01 {
    grid-area: boxindex01;

 }
 .boxindex02 {
    grid-area: boxindex02;

 }

 .boxindex03 {
    grid-area: boxindex03;

 }

 .boxindex04 {
    grid-area: boxindex04;

 }

 .fotoperfil {
    width: 300px;
 }

h1 {
    font-size: 30px;
    color: black;
    padding: 5px;
    text-align: left;
    font-style: italic;
}

@media (max-width:820px)
{
    .boxindex{
        height: auto;
        grid-template-columns: 300px;
        grid-template-rows: 300px 50px 300px 50px;
        grid-template-areas: 
        "boxindex01"
        "boxindex02 "
        "boxindex03"
        "boxindex04";
        padding-top: 50px;
        gap: 10px;
    }
    
    h1 {
        font-size: 22px;
    }
    .boxindex01 .boxindex02 .boxindex03 .boxindex04 {
        margin: 10px;
        padding: 10px;
    }
    
    
}

/* about me*/

.mainAboutMe {
    height: auto;
} 

.boxAboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.boxAboutMe01{
    
}
.imgAboutMe {
    height: 250px;
    padding: 20px 0px;
}

.titulo_about_me {
    padding: 5px;
    
}
.Parrafo_about_me { 
    margin: 20px;
    padding: 5px 50px;
    width: 800px;
}
.boxAboutMe04{
    width: auto;
}

@media (max-width:844px){
    .imgAboutMe {
    height: 200px;}
    .Parrafo_about_me { 
        height: 200px;
        width: auto;
    }
    .boxAboutMe04 {
        margin: 50px;
        padding: 100px;
    }


}
/* contact*/

.titulo_contact_me {
    padding: 30px 0px 20px 0px;
    text-align: center;
    margin: 20px;  
}

.parrafo_contact_me {
    margin: 20px;
    padding: 5px 200px 50px 200px;
    text-align: center;
    font-size: 20px;
}

.Formulario {
    width: 600px;
    margin: 20px auto;
}


/* portfolio*/

.titulo_portfolio {
    padding: 30px 0px 20px 0px;
    text-align: center;
}

.Parrafo_portfolio {
    margin: 20px;
    padding: 5px 200px 50px 200px;
    text-align: center;
    font-size: 20px;
}


.BoxPortfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.EjemploPortfolio {
    width: 300px;
    padding: 5px;
    margin: 20px;
}

.EjemploPortfolio a {
    text-decoration: none;
}

.EjemploPortfolio__img {
    width: 100%;
}

.EjemploPortfolio__titulo {
    border-top: solid 3px #7B89A6;
    font-size: 20px;
    color: #4b68a4;
    padding: 5px;
    text-align: center;
}

.imagenes {
    transition: 1s;
}
.imagenes:hover {
    transform: scale(1.05);
}

/* footer*/
.navfoot ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
}
.navfoot ul li{
    display: inline-block;
}

.navfoot ul li a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px; 
    font-size: 20px;
}


footer {
    background-color:#A9C6D9;
    height: 70px;

}
