
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Noto Serif NP Hmong', serif;
}  

/* Nav*/
.navegador ul {
    list-style-type: none;
    display:flex;
    justify-content: end;
}

.navegador ul li{
    display: inline-block;
}

.navegador ul li a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px; 
    font-size: 20px;
} 
nav {
    background-color:#7B89A6;
}

/* footer*/
.navfoot ul{
    list-style-type: none;
    display:flex;
    justify-content: end;
}
.navfoot ul li{
    display: inline-block;
}

.navfoot ul li a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px; 
    font-size: 20px;
}


footer {
    background-color:#A9C6D9;

}

/* home*/

 .boxindex{
    display: grid;
    height: 500px;
    justify-content: center;
    align-content: center;
    background-color: #cdd9e1;
    grid-template-columns: 300px 500px;
    grid-template-rows: 50px 200px 50px;
    gap: 10px;
    grid-template-areas: 
        "boxindex01 boxindex02"
        "boxindex01 boxindex03"
        "boxindex01 boxindex04";
 }

 .boxindex01 {
    grid-area: boxindex01;

 }
 .boxindex02 {
    grid-area: boxindex02;

 }

 .boxindex03 {
    grid-area: boxindex03;

 }

 .boxindex04 {
    grid-area: boxindex04;

 }

 .fotoperfil {
    width: 300px;
 }

h1 {
    font-size: 30px;
    color: black;
    padding: 5px;
    text-align: left;
    font-style: italic;
}

p {
    color: black;
    padding: 10px;
    line-height: 30px;
}

/* about me*/
.titulo_AboutMe {
    color: black;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
.Parrafo { 
    margin: 20px;
    padding: 5px 200px;
    text-align: center;
    font-size: 20px;

}

/* contact*/


/* portfolio*/

.BoxPortfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.titulo_portfolio {
    color: black;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.EjemploPortfolio{
    width: 250px;
    padding: 20px;
}
.EjemploPortfolio__img {
    width: 100%;
}

.EjemploPortfolio__titulo {
    font-size: 20px;
    color: black;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

